body {
    font-family: "Nuosu SIL", serif;
    font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #dddddd;
}
::-webkit-scrollbar-thumb {
    background-color: #404040;
    border-radius: 100px;
}
.bg-yellow {
    background-color: #fbd062;
}
.hero-heading {
    font-family: "Nuosu SIL", serif;
}
