body {
    font-family: "Nuosu SIL", serif;
    font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #dddddd;
}
::-webkit-scrollbar-thumb {
    background-color: #404040;
    border-radius: 2px;
}
.stock {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.5px;

    -webkit-text-stroke-color: #dddddd;
}
/* .w-15 {
    width: 160px;
    text-align: center;
} */
.menu_button:focus {
    outline: none !important;
}
.highlight {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #0ea5e9;
}
.highlight-2 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #6366f1;
}
.highlight-3 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ec4899;
}

.bg-yellow {
    background-color: #fbd062;
}
.bg-project1 {
    background-color: #38766b30;
}
.bg-project2 {
    background-color: #4db7cd30;
}
.bg-project3 {
    background-color: #e1b73f30;
}
.hero-heading {
    font-family: "Nuosu SIL", serif;
}

/* .highlight-green {
    
    background-image: linear-gradient(180deg, #ffffff 65%, #00b894 40%);
} */
.highlight-yellow {
    background-image: linear-gradient(180deg, #ffffff 65%, #eb4d4b 40%);
}
.rotate {
    transform: rotate(-90deg);
}
/* .background {
    background-image: url("./Components/img/header-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .about-divider {
    background-image: url("./Components/img/blue-bg-bottom.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
} */
